In [1]:
a = 5
a

5

In [10]:
b = [1, 2, 3]
b.sort()
b[2]

3

In [12]:
def add_numbers(a, b):
    """
Add two numbers
Return
--------
the_sum of arguments
"""
    return a + b

In [13]:
add_numbers(1,3)

4

In [14]:
add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers
Return
--------
the_sum of arguments
File:      /tmp/ipykernel_3397/3379225134.py
Type:      function

In [1]:
a = [1, 2, 3]
b = a  # b - linked variable
b

[1, 2, 3]

In [3]:
a.append(4);

In [5]:
b

[1, 2, 3, 4]

In [5]:
def append_element(some_list, element):
    some_list.append(element)
    dat = some_list
    dat.append(101)

data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4, 101]

In [8]:
a = 5
type(a)
a = "Yooooo"
type(a)

str

In [25]:
# "5" + 5 # ERROR! can only concatenate str (not "int") to str

In [10]:
# implicit typing 
a = 4.5  # float
b = 2    # int
print(f"a is {type(a)}, b is {type(b)}")

a is <class 'float'>, b is <class 'int'>

In [11]:
a / b

2.25

In [16]:
a = 5.0
isinstance(a, (str, int, float))

True

In [19]:
a = "Yooooo-oooo"
getattr(a, "split")

In [33]:
# duck typing
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

isiterable("a string")

True

In [39]:
# using module method 1
import first_module as tm
pi = tm.PI
result = tm.f(5)
print(f"pi = {pi}, result = {result}")

pi = 3.14159, result = 7

In [43]:
# using module method 2
from first_module import PI, g
result = g(3, 4)
result

7

In [6]:
# "is" and "is not" statement - check the reference to the object
a = [1, 2, 3]
b = a
c = list(a)  # copy a, not link
b is a  # True
c is a  # False
c == a  # True

True

In [10]:
# None (null)
a
type(a) # list ))))))))))))
a = None
type(a) # NoneType
a is None

True

In [12]:
# changeable objects
a_list = ['Yooo', 2, [4, 5]]
a_list
a_list[2] = [6, 7]  
a_list

['Yooo', 2, [6, 7]]

In [17]:
# immutable objects (strings, tuples)
a_tuple = ('Yooo', 2, [2, 3])
#a_tuple[2] = [4, 5] # ERROR !

In [20]:
# immutable of string
a = 'Yoooooooooo'
# a[3] = '-'   # ERROR !
b = a.replace('Yoo', 'Yoo-') # this is copy of a
a # immutable
b

'Yoo-oooooooo'

In [24]:
a = 5.6
s = str(a) # copy of a
s is a
print(a) #float is possible in print()
type(s)

5.6

str

In [34]:
# string like list/tuple
s = "python"
print(list(s))
print(f"First 3 simbols: '{s[:3]}', only fourth simbol: '{s[3]}'")

['p', 'y', 't', 'h', 'o', 'n']
First 3 simbols: 'pyt', only third simbol: 'h'

In [35]:
s = r'this. has no\ special\characters.'
s

'this. has no\\ special\\characters.'

In [38]:
# format string
template = 'My friend: {0:.2f} {1:s} are worth US ${2:d}'
template.format(88.3451, 'Argentine Pesos', 21)

'My friend: 88.35 Argentine Pesos are worth US $21'

In [40]:
# format string
amount = 10; rate = 88.4783; currency = 'Pesos'
result = f'{amount} {currency} is worth US ${amount / rate :.2f}'
result

'10 Pesos is worth US $0.11'

In [45]:
s = 3.14159
type(s) #float
int(s)  #3
bool(3) #true
bool(0) #false

False

In [47]:
def add_and_maybe_multiply(a, b, c = None):
    result = a + b
    if c is not None:
        result = result * c
    return result

add_and_maybe_multiply(3, 4)

7

In [50]:
a = None; b = 3
#c = a + b # ERROR!

In [80]:
from datetime import datetime, date, time
dt = datetime(2024,11, 16, 22, 00, 15) #dt - my object with type 'datetime'
dt.hour # 22
tm = dt.time() #object with type 'time'
tm.hour #22
st = dt.strftime('%d.%m.%Y %H:%M') #'16.11.2024 22:00' # type 'datetime' to type 'string'
dt_hour = dt.replace(minute=12, second=36) # new object
dt_hour

datetime.datetime(2024, 11, 16, 22, 12, 36)

In [76]:
input_date = '20241116'
dt = datetime.strptime(input_date, '%Y%m%d')  # convert 'string' to object 'datetime'
dt.day # invoke properties of object 'datetime'

16

In [86]:
from datetime import datetime, date, time
dt1 = datetime(2024,11, 16, 22, 00, 15)
dt2 = datetime(2024,11, 11, 15, 30, 14)
delta = dt1 - dt2
delta
dt2 + delta

datetime.datetime(2024, 11, 16, 22, 0, 15)

In [2]:
a = 3; b = 3; c = 3
a == b != c

False

In [6]:
# circle
sequence = [1, 2, None, 4, None, 5]
total = 0
for i in sequence:
    if i is None:
        continue
    total += i

total

12

In [17]:
# circle break
for i in range(4):     #circle 1
    for j in range(4): #circle 2
        if j>i:
            break      #break circle 2
        print((i, j))  #level of circle 2

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [23]:
# range() using as index of sequence
seq = [3, -1, 8, 'Yooo', 3.27]
for i in range(len(seq)):
    print(f' element {i}: {seq[i]}')

 element 0: 3
 element 1: -1
 element 2: 8
 element 3: Yooo
 element 4: 3.27

In [2]:
for i in range(100_000):
   # print(i) # 0 - 99 999
    break