In [10]:
import pandas as pd
import numpy as np

#@@@@@@@@@@@@@@@@@@@@@ READING TEXT FILE BY BATH @@@@@@@@@@@@@@@@@

# output only 10 rows on display
pd.options.display.max_rows = 10

result = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex6.csv')
result
"""
one 	two 	three 	four 	key
0 	0.467976 	-0.038649 	-0.295344 	-1.824726 	L
1 	-0.358893 	1.404453 	0.704965 	-0.200638 	B
2 	-0.501840 	0.659254 	-0.421691 	-0.057688 	G
3 	0.204886 	1.074134 	1.388361 	-0.982404 	R
4 	0.354628 	-0.133116 	0.283763 	-0.837063 	Q"""

# get first 3 rows
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex6.csv', nrows=3)
"""
 	one 	two 	three 	four 	key
0 	0.467976 	-0.038649 	-0.295344 	-1.824726 	L
1 	-0.358893 	1.404453 	0.704965 	-0.200638 	B
2 	-0.501840 	0.659254 	-0.421691 	-0.057688 	G"""

# read file by chunkes
chunker = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex6.csv', chunksize=1000)
type(chunker) # pandas.io.parsers.readers.TextFileReader

# !!! here for Series we specifying the type
tot = pd.Series([], dtype='int64')
for piece in chunker:
    # aggregate (tot.add) counts of key-values 
    tot = tot.add(piece["key"].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [39]:
import pandas as pd
import numpy as np
import sys

#@@@@@@@@@@@@@@@@@@@ OUTPUT IN TEXT FORMAT @@@@@@@@@@@@@@@@@@@@@

data = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex5.csv')
"""
 	something 	a 	b 	c 	d 	message
0 	one 	1 	2 	3.0 	4 	NaN
1 	two 	5 	6 	NaN 	8 	world
2 	three 	9 	10 	11.0 	12 	foo"""

# write to file with comma
data.to_csv('/home/vk/Python_Source/pydata-book/examples/out.csv')

# display on the screen !!!

d1 = data.to_csv(sys.stdout, sep="|")
"""
|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
"""

# filling empty values by NULL
d2 = data.to_csv(sys.stdout, na_rep = "NULL")
"""
|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
"""

# without markers
d3 = data.to_csv(sys.stdout, index = False, header = False)
"""
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo"""

# own colums name
data.to_csv(sys.stdout, index = False, columns=["a", "d", "c"])
"""
a,d,c
1,4,3.0
5,8,
9,12,11.0"""

# using standart Python in file with one delimeter
import csv
f = open('/home/vk/Python_Source/pydata-book/examples/ex7.csv')
reader = csv.reader(f)
print("\n")
for line in reader:
    print(line)
"""
['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']"""
f.close()

# fill dictionary by columns from file
with open('/home/vk/Python_Source/pydata-book/examples/ex7.csv') as f:
    lines = list(csv.reader(f))
    header, values = lines[0], lines[1:]
    
    data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict
"""{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}"""

# using new format with own delimiter
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = "#"
    quotechar = '"'
    quoting=csv.QUOTE_NONE

f = open('/home/vk/Python_Source/pydata-book/examples/ex7.csv')
#reader = csv.reader(f, dialect=my_dialect)
reader = csv.reader(f, delimiter=',')
print("\n")
for line in reader:
    print(line)
f.close()

with open('/home/vk/Python_Source/pydata-book/examples/mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))
"""
one#two#three
1#2#3
4#5#6
7#8#9"""

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo
a,d,c
1,4,3.0
5,8,
9,12,11.0


['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']


['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [4]:
import pandas as pd
import numpy as np

# first row from file is header,  indexes added auto
df = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex1.csv')
df
"""
 	a 	b 	c 	d 	message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

# file without header
# var.1, column-indexing is auto
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex2.csv', header = None)
"""
 	0 	1 	2 	3 	4
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

# var.2
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])
"""
a 	b 	c 	d 	    message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex2.csv', names = names, index_col = 'message')

# hierarchical index
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/csv_mindex.csv', index_col = ['key1', 'key2'])
"""
key1  key2 		
one 	a 	1 	2
        b 	3 	4
        c 	5 	6
        d 	7 	8
two 	a 	9 	10
        b 	11 	12
        c 	13 	14
        d 	15 	16"""

# file with spaces instead separator
result = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex3.txt', sep = "\s+")
result
"""
            A        	B       	C
aaa 	-0.264438 	-1.026059 	-0.619500
bbb 	0.927272 	0.302904 	-0.032399
ccc 	-0.264273 	-0.386314 	-0.217601
ddd 	-0.871858 	-0.348382 	1.100491"""

# skip 1,3,4 rows in file
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex4.csv', skiprows = [0, 2, 3])
"""
 	a 	b 	c 	d 	message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

# missing values
# PANDAS get values 'NA', '-1.', '#IND', 'NULL' as missing values
result = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex5.csv')
"""
something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo"""

"""
 something 	a 	b 	c 	d 	message
0 	one 	1 	2 	3.0 	4 	NaN
1 	two 	5 	6 	NaN 	8 	world
2 	three 	9 	10 	11.0 	12 	foo"""

pd.isna(result)
"""
 	something 	a 	b 	c 	d 	message
0 	False 	False 	False 	False 	False 	True
1 	False 	False 	False 	True 	False 	False
2 	False 	False 	False 	False 	False 	False"""

# result = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex5.csv', na_values = ['NULL']) hernja!!!

# turn off processing of missing values
results2 = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex5.csv',  keep_default_na = False)
results2
"""
 	something 	a 	b 	c 	d 	message
0 	one 	1 	2 	3 	4 	NA
1 	two 	5 	6 		8 	world
2 	three 	9 	10 	11 	12 	foo"""

results2.isna()
"""
    something 	a 	b 	      c 	d 	  message
0 	False 	False 	False 	False 	False 	False
1 	False 	False 	False 	False 	False 	False
2 	False 	False 	False 	False 	False 	False"""

# exchange only 'NA' char in file
results3 = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex5.csv',
                       keep_default_na=False, na_values = ['NA'])
results3
"""
something 	a 	b 	c 	d 	message
0 	one 	1 	2 	3 	4 	NaN
1 	two 	5 	6 		8 	world
2 	three 	9 	10 	11 	12 	foo"""

results3.isna()
"""
 	something 	a 	b 	c 	d 	message
0 	False 	False 	False 	False 	False 	True
1 	False 	False 	False 	False 	False 	False
2 	False 	False 	False 	False 	False 	False"""

# create own markers for exchange in the file
sentinels = {'message':['foo', 'NA'], 'b': '10'}
pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex5.csv', na_values=sentinels, keep_default_na=False)
"""
 	something 	a 	b 	c 	d 	message
0 	one 	1 	2.0 	3 	4 	NaN
1 	two 	5 	6.0 		8 	world
2 	three 	9 	NaN 	11 	12 	NaN"""

<>:47: SyntaxWarning: invalid escape sequence '\s'
<>:47: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_4305/1606306428.py:47: SyntaxWarning: invalid escape sequence '\s'
  result = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex3.txt', sep = "\s+")

  something  a    b   c   d message
0       one  1  2.0   3   4     NaN
1       two  5  6.0       8   world
2     three  9  NaN  11  12     NaN

In [4]:
import pandas as pd
import numpy as np
import json
import sys as os
#@@@@@@@@@@@@@@@@@@@@@@@@@@@ JSON ########################

obj = """
{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}"""

# transform json to Python-object
result = json.loads(obj)
type(result)  # dict

# transform Python-object to json
asjson = json.dumps(result)
asjson

siblings = pd.DataFrame(result["glossary"])["GlossDiv"][1]
siblings # dict
"""
{'GlossEntry': {'ID': 'SGML',
  'SortAs': 'SGML',
  'GlossTerm': 'Standard Generalized Markup Language',
  'Acronym': 'SGML',
  'Abbrev': 'ISO 8879:1986',
  'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.',
   'GlossSeeAlso': ['GML', 'XML']},
  'GlossSee': 'markup'}}"""

# json ---> DataFrame
df = pd.read_json('/home/vk/Python_Source/pydata-book/examples/example.json')
df
"""
    a 	b 	c
0 	1 	2 	3
1 	4 	5 	6
2 	7 	8 	9"""

# DataFrame ---> json
df.to_json(os.stdout) # {"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

df.to_json(os.stdout, orient="records") # [{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

/tmp/ipykernel_12476/36975049.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  siblings = pd.DataFrame(result["glossary"])["GlossDiv"][1]

In [19]:
import pandas as pd
import numpy as np
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@  XML and HTML @@@@@@@@@@@@@@@@@@@@@@@@@@@

tables = pd.read_html('/home/vk/Python_Source/pydata-book/examples/fdic_failed_bank_list.html')
len(tables) # 1
failure = tables[0] # DF type
failure.head()
failure[["Bank Name", "Closing Date"]]
"""
 	Bank Name 	                    Closing Date
0 	Allied Bank 	                September 23, 2016
1 	The Woodbury Banking Company 	August 19, 2016
2 	First CornerStone Bank 	        May 6, 2016
3 	Trust Company Bank 	            April 29, 2016
4 	North Milwaukee State Bank 	    March 11, 201616, 2016"""

close_timestamps = pd.to_datetime(failure["Closing Date"])
close_timestamps.dt.year.value_counts() # how many banks closed by year

#@@@@@@ XML, library: lxml @@@@@@#

# 1 var.
from lxml import objectify
path = "/home/vk/Python_Source/pydata-book/datasets/mta_perf/Performance_MNR.xml"
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot() # here root

data = []
skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ", "DESIRED_CHANGE", "DECIMAL_PLACES"] # skip fields

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)
    
perf = pd.DataFrame(data)
perf.head() # output first 5 rows

# 2 var.
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [1]:
import pandas as pd
import numpy as np

#@@@@@@@@@@@@@@@@@@@@@@@  BINARY FILE @@@@@@@@@@@@@@@@@@@

frame = pd.read_csv('/home/vk/Python_Source/pydata-book/examples/ex1.csv')
frame
"""
   a 	b 	c 	d 	message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

frame.to_pickle('/home/vk/Python_Source/pydata-book/examples/frame_pickle')
pd.read_pickle('/home/vk/Python_Source/pydata-book/examples/frame_pickle')
"""
   a 	b 	c 	d 	message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

#fec = pd.read_parquet("/home/vk/Python_Source/pydata-book/datasets/fec/fec.parquet")
#fec

'\n   a \tb \tc \td \tmessage\n0 \t1 \t2 \t3 \t4 \thello\n1 \t5 \t6 \t7 \t8 \tworld\n2 \t9 \t10 \t11 \t12 \tfoo'

In [38]:
import pandas as pd
import numpy as np

#@@@@@@@@@@@@@@@@@@@@@@@  EXCEL @@@@@@@@@@@@@@@@@@@

xlsx = pd.ExcelFile('/home/vk/Python_Source/pydata-book/examples/ex1.xlsx')
xlsx.sheet_names # ['Sheet1']
xlsx.parse(sheet_name="Sheet1")
"""
 	Unnamed: 0 	a 	b 	c 	d 	message
0 	         0 	1 	2 	3 	4 	hello
1 	         1 	5 	6 	7 	8 	world
2 	         2 	9 	10 	11 	12 	foo"""

# if there is indexing column in file
xlsx.parse(sheet_name="Sheet1", index_col=0)
"""

	a 	b 	c 	d 	message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

# reading in DF
frame = pd.read_excel('/home/vk/Python_Source/pydata-book/examples/ex1.xlsx', sheet_name="Sheet1", index_col=0)
frame
"""
 	a 	b 	c 	d 	message
0 	1 	2 	3 	4 	hello
1 	5 	6 	7 	8 	world
2 	9 	10 	11 	12 	foo"""

# writing to excel
# var.1
writer = pd.ExcelWriter('/home/vk/Python_Source/pydata-book/examples/ex2.xlsx') # create object
frame.to_excel(writer, "Sheet1")
#writer.save()

# var.2
frame.to_excel('/home/vk/Python_Source/pydata-book/examples/ex2.xlsx', "Sheet2")

#### HDFS ######
path = '/home/vk/Python_Source/pydata-book/examples/mydata.h5'

frame = pd.DataFrame({"a":np.random.standard_normal(100)})
frame
"""
 	a
0 	-1.060651
1 	0.163633
2 	0.391957
3 	-0.974478
4 	0.458077"""

store = pd.HDFStore(path) # save in HDFS file(empty)
# 1.save data with HDFStore
store["obj1"] = frame
store["obj1_col"] = frame["a"]
store
"""
<class 'pandas.io.pytables.HDFStore'>
File path: /home/vk/Python_Source/pydata-book/examples/mydata.h5"""

# read file HDFS (as dictionary)
store["obj1"]
"""
 	a
0 	1.257156
1 	-1.410222
2 	1.227220
3 	-0.643782
4 	2.079251"""

# 2.save data with put() with HDFStore
# two schemas of store: 1-fixed and 2-table
store.put("obj2", frame, format="table")
store.select("obj2", where = ["index >=11 and index <= 15"]) # !!! cool
"""
     a
11 	-0.540992
12 	-0.183081
13 	-0.558388
14 	-0.192218
15 	-1.085035"""

store.close()

# 3.save data with DF
frame.to_hdf(path, "obj3", format="table")
# read
pd.read_hdf(path, "obj3", where = ["index < 5"], mode='r+')

#remove file
#import os
#os.remove(path)

"""
      a
0 	0.635294
1 	0.943016
2 	0.119151
3 	0.474442
4 	-2.325922"""

/tmp/ipykernel_4271/3361821313.py:36: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel(writer, "Sheet1")
/tmp/ipykernel_4271/3361821313.py:40: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel('/home/vk/Python_Source/pydata-book/examples/ex2.xlsx', "Sheet2")
/tmp/ipykernel_4271/3361821313.py:89: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  frame.to_hdf(path, "obj3", format="table")

          a
0  0.635294
1  0.943016
2  0.119151
3  0.474442
4 -2.325922

In [21]:
# stoloto

tables= pd.read_html('/home/vk/Downloads/arhiv_stoloto.html')
df = tables[0]
#df
#tables

In [21]:
##########  INTERECTION WITH HTML AND WEB API #############
import pandas as pd
import numpy as np
import requests as rq

url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = rq.get(url)
resp.raise_for_status()
data = resp.json()
data[1]["user"] # block 1 node "user"

issues = pd.DataFrame(data, columns=['number', 'user', 'title'])
issues
"""
	number 	user 	title
0 	60752 	{'login': 'snitish', 'id': 7503884, 'node_id':... 	ENH: Support skipna parameter in GroupBy min, ...
1 	60750 	{'login': 'sf-dcp', 'id': 144725249, 'node_id'... 	BUG: `pd.Series.isnumeric()` doesn't work on d...
2 	60748 	{'login': 'gmcrocetti', 'id': 24530683, 'node_... 	refactor: deprecate usage of `cursor.execute` ...
3 	60747 	{'login': 'agriyakhetarpal', 'id': 74401230, '... 	DOC: Reinstate the JupyterLite-based live shel...
4 	60744 	{'login': 'kosiew', 'id': 29057562, 'node_id':... 	BUG: Ensure to_datetime raises errors for out-...
5 	60740 	{'login': 'behrenhoff', 'id': 1408034, 'node_i... 	BUG: stack with future_stack=True and empty list"""

logins = issues["user"][:3]
"""
0    {'login': 'snitish', 'id': 7503884, 'node_id':...
1    {'login': 'sf-dcp', 'id': 144725249, 'node_id'...
2    {'login': 'gmcrocetti', 'id': 24530683, 'node_..."""

logins[0]["login"] # snitish
logins[0] # dictionary
pd.DataFrame(logins[0], index = [0])
"""
 	login 	      id 	       node_id 	              avatar_url 	                                        gravatar_id 	url 	html_url 	followers_url 	following_url 	gists_url 	starred_url 	subscriptions_url 	organizations_url 	repos_url 	events_url 	received_events_url 	type 	user_view_type 	site_admin
0 	snitish 	7503884 	MDQ6VXNlcjc1MDM4ODQ= 	https://avatars.githubusercontent.com/u/750388... 		https://api.github.com/users/snitish 	https://github.com/snitish 	https://api.github.com/users/snitish/followers 	https://api.github.com/users/snitish/following... 	https://api.github.com/users/snitish/gists{/gi... 	https://api.github.com/users/snitish/starred{/... 	https://api.github.com/users/snitish/subscript... 	https://api.github.com/users/snitish/orgs 	https://api.github.com/users/snitish/repos 	https://api.github.com/users/snitish/events{/p... 	https://api.github.com/users/snitish/received_... 	User 	public 	False"""

     login       id               node_id  ...  type user_view_type site_admin
0  snitish  7503884  MDQ6VXNlcjc1MDM4ODQ=  ...  User         public      False

[1 rows x 19 columns]

In [76]:
############ WORKING WITH DATABASE ################
import pandas as py
import sqlite3

query = """
create table test
(a varchar(20), b varchar(20),
c real, d integer );"""

con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

data = [("Atlanta", "Georgia",  1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]

stmt = "insert into test values (?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

cursor = con.execute("select * from test")
rows = cursor.fetchall()
print(rows)
print("\n")

# columns-name from cursor
cursor.description
"""
(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))"""

pd.DataFrame(rows, columns = [row[0] for row in cursor.description])[:5]
"""
       a 	      b 	      c 	d
0 	Atlanta 	Georgia 	1.25 	6
1 	Tallahassee 	Florida 	2.60 	3
2 	Sacramento 	California 	1.70 	5
3 	Atlanta 	Georgia 	1.25 	6
4 	Tallahassee 	Florida 	2.60 	3"""

print("\n")

cursor.close()
con.close()
################### POSTGRESQL ################################

import psycopg2

dbConnectionUrl = psycopg2.connect("postgresql://vadim:1@localhost:5432/spark_labs")

stmt = "insert into ch02(lname, fname, name) values(%s, %s, %s)"

with dbConnectionUrl.cursor() as curs:
    curs.execute(stmt, ("Jonh", "Wolker", "Jonh Wolker"))
    
with dbConnectionUrl.cursor() as curs:
    curs.execute("select * from ch02")
    rows_pg = curs.fetchall()
    df = pd.DataFrame(rows_pg, columns = [row[0] for row in curs.description])[:5]

print(df)
dbConnectionUrl.close()

#### SQLAlchemy ####
import sqlalchemy as sqla

db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql("select * from test", db)

OperationalError: table test already exists